body {
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

section {
    border: 2px solid #FFF;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
}

footer p {
    text-align: center;
    font-size: 20px;
}